<div class="d-flex justify-content-between align-items-start mt-4">
  <div>
    <h1><strong>Your Movie Lists</strong></h1>
    <p><%= @status  %></p>
  </div>
     <%= render 'lists/modal' %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newListModal">
      Add New List
    </button>
</div>

<div class="row mt-3">
  <% @lists.reverse_each do |list| %>
    <div class="col-12 col-sm-12 col-md-6 col-lg mb-4">
      <div class="card h-100 card-radius">
        <% if list.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(list.photo.key, width: 400, height: 300, crop: :thumb) %>);">
              <%= link_to list.name, list_path(list), class: "stretched-link text-white no-underline" %>  
          </div>
        <% else %>
          <div class="card-category" style="background-color: rgba(0,0,0,0.3);">
              <%= link_to list.name, list_path(list), class: "stretched-link text-white no-underline" %>  
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>