<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'lists/modal' %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
      <div class="container-fluid container">
      <%= link_to "Movie List", lists_path, class: "navbar-brand"%>
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newListModal">
         New List
       </button>
      </div>
    </nav>

    <div class="container">
      <%= yield %>  
    </div>
  </body>
</html>
